body {
    color:black;
}

.title { 
    font-family: Trattatello, fantasy;
    font-size: 45px;
}
.points {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: white;
}